*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.main{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../img/backgroundimg/background/background2.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.login
{

  align-items: center;
  justify-content: center;
  width:30%;
  padding: 20px 10px;
  background-color:rgba(44, 48, 49, 0.39);
  display: flex;
  flex-direction:column;

}
input
{

  background-color: #c9d3d63d;
   border-radius:5vh;
        margin-top: 1vh;
      margin-bottom: 1vh;
}
::placeholder
{
  color:white;
}
